@charset "utf-8";
#footer {
	background-color: #000;
	height: 50px;
	width: 100%;
	color: #FFF;
}
#header {
	height: 140px;
	width: 1351px;
	margin-top: -10px;
	margin-left: -10px;
	background-color: #999;
	font-size: 16px;
	color: #FFF;
	font-weight: bold;
	font-style: normal;
	margin-right: -10px;
}
#main #header #banner #tenNh {
	height: 40px;
	float: left;
	margin-left: 100px;
	font-size: 34px;
	margin-top: 5px;
}


#body {
	background-color: #FFF;
	height: 900px;
	width: 960px;
	margin-left: 200px;
	background-image: url(../image/nenchinh.jpg);
}


#main #header #menu {
	background-color: #F00;
	width: 100%;
	height: 90px;
	top: 0px;
	left: 0px;
	color: #FFF;
	font-variant: normal;
	text-transform: capitalize;
	text-align: center;
	white-space: normal;
	
}
#main #header #banner {
	width: 100%;
	background-color: #000;
	height: 50px;
	font-size: 36px;
	color: #FFF;
}
#main #body #qc {
	width: 650px;
	height: 500px;
	float: left;
	margin-top: 50px;
}
#qc2 {
	float: left;
	height: 500px;
	width: 200px;
	padding-top: 70px;
}
#main {
	width: 100%;
	height: 890px;
}
#all {
	
	height: 800px;
	width: 800px;
	margin-left: 50px;
	
}
#gHang {
padding-top: 20px;
	height: 50px;
	width: 800px;
	font-size: 22px;
	color: #000;
	text-align: left;
}
#sPham {
	color: #000;
	height: 400px;
	width: 850px;
	overflow: auto;
	-webkit-transition: all;
	-moz-transition: all;
	-ms-transition: all;
	-o-transition: all;
	transition: all;
}
#but {
	height: 50px;
	width: 800px;
}

#xoaC {
	margin-top: 10px;
	float: left;
	margin-left:500px;
	
}
#pic {
	border-radius: 3px;
	border: solid #CCC;
	height: 200px;
	width: 200px;
}

#price {
	font-size: 18px;
	color: #F00;
	float: left;
	margin-top: -10px;
	margin-left: 5px;
}
#image {
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 30px;
	float: left;
}
#foodName {
	margin-left: 20px;
	float: left;
	height: 75px;
	width: 250px
}
#mainCart {
	border-bottom-style: double;
	border-top-color: #999;
	border-right-color: #999;
	border-bottom-color: #999;
	border-left-color: #999;
	border-bottom-width: medium;
	height: 75px;
	width: 800px;
}
#theGKM {
	font-size: 15px;
}
#giaKM {
	float: left;
	margin-left: 0px;
	height: 55px;
	width: 150px;
	text-align: center;
	
}
#sl {
	float: left;
	height: 30px;
	width: 30px;

}
#xoaCart {
	height: 25px;
	width: 40px;
	float: left;
	text-align: center;
	padding-top: 5px;
	margin-left: 15px;
}
#tenMon {
	float: left;
	width: 250px;
	height: 20px;
	border-top-width: medium;
	border-right-width: medium;
	border-bottom-width: medium;
	border-left-width: medium;
	border-top-color: #999;
	border-right-color: #999;
	border-bottom-color: #999;
	border-left-color: #999;
	margin-bottom: 5px;
}
#loaifood {
	height: 25px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #303;
	border-right-color: #303;
	border-bottom-color: #303;
	border-left-color: #303;
	float: left;
	width: 150px;
	text-align: left;
	padding-top: 5px;
	margin-top: 0px;
	margin-left: 30px;
}
#total {
	float: left;
	height: 55px;
	width: 180px;

	text-align: center;
	
	
}
#buy {
	
	
	height: 25px;
	width: 50px;
	padding-bottom: -10px;
	text-align: center;
	font-size: 14px;
	
	border-top-color: #F06;
	border-right-color: #F06;
	border-bottom-color: #F06;
	border-left-color: #F06;
	border-left-width: 1px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	
	
	
}
#slText {
	float: left;
	width: 50px;
	
}
#thayDoi{
	float: left;
		margin-left: 5px;
}
#buy2{
	margin-left: 5px;
}
#tTien{
	float: right;
	margin-right: 55px;
	color: #000;
		
}
#font {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #666;
	line-height: normal;
	font-style: oblique;
	text-decoration: blink;
	margin-left: 10px;
	margin-top: 10px;
}
#side {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: italic;
	color: #900;
	margin-left: 10px;

}
#gio {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: #000;
	margin-left: 355px;
	text-align: center;

}
#giamgia{
	font-size: 14px;
		color: #09F;
	font-style: italic;
}
#giagoc{
	font-size: 11px;
		color: #666;
	text-decoration: line-through;
	
}
#theKGKM {
	font-size: 15px;
	height: 55px;
	width: 150px;
}
#popup1{
	positon: fixed;
	 right: 20px;
	top:10px;
	background: lavender;
	width: 700px;
	 height: 530px;
	 border-radius: 5px;
}
.popup{
    position: fixed;
    background: white;
    border: 1px solid gray;
    z-index: 10000;
    box-shadow: 3px 3px gray;
  
}
#background{
    position: fixed;
    background: #f9d9ef;
    left: 0px;
    top: 0px;
   
}
a.close{
    text-decoration: none;
    float: right;
}
#button1{
	margin-top: 10px;
	margin-left: 80px;
	float: left;
}
#buy {
	
	border-radius: 5px;
	background-color: #FBD;
	height: 30px;
	width: 80px;
	margin-left: 290px;
	margin-top: 50px;
	padding-bottom: -10px;
	text-align: center;
	font-size: 14px;
	text-decoration: none;
	border-top-color: #F06;
	border-right-color: #F06;
	border-bottom-color: #F06;
	border-left-color: #F06;
	border-left-width: 1px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	
}