#footer {
	background-color: #000;
	height: 50px;
	width: 1351px;
	color: #FFF;
	margin-left: -10px;
	margin-bottom: -10px;
	margin-top: 70px;
}
#header {
	height: 140px;
	width: 1351px;
	margin-top: -10px;
	margin-left: -10px;
	background-color: #999;
	font-size: 16px;
	color: #FFF;
	font-weight: bold;
	font-style: normal;
	margin-right: -10px;
}
#main #header #banner #tenNh {
	height: 40px;
	float: left;
	margin-left: 100px;
	font-size: 34px;
	margin-top: 5px;
}


#body {
	background-color: #FFF;
	height: 100%;
	width: 960px;
	margin-left: 200px;
	background-image: url(../image/nenchinh.jpg);
}


#main #header #menu {
	background-color: #F00;
	width: 100%;
	height: 90px;
	top: 0px;
	left: 0px;
	color: #FFF;
	font-variant: normal;
	text-transform: capitalize;
	text-align: center;
	white-space: normal;
	z-index: 999;
	
}
#main #header #banner {
	width: 100%;
	background-color: #000;
	height: 50px;
	font-size: 36px;
	color: #FFF;
}
#main #body #qc {
	width: 650px;
	height: 500px;
	float: left;
	margin-top: 50px;
}
#qc2 {
	float: left;
	height: 500px;
	width: 200px;
	padding-top: 70px;
}
#main {
	width: 100%;
	height: 1200px;
}
#page {
	margin-left: 700px;
	margin-top: 20px;
	
}


#page a {
	text-decoration: none;
	background: #fff;
	border-radius: 5px;
	padding: 7px;
	color: #9F0000;
	border: 2px solid #06f;
}

#page a:hover {
	background: #ff0080;
}

#page span {
	background: #CCC;
	border-radius: 5px;
	padding: 7px;
	color: #9F0000;
	border: 2px solid #06f;
}




#login {
	height: 220px;
	width: 1000px;
}

#show {
	border-radius: 10px;
	height: 900px;
	width: 1000px;
	background-image: url(../image/show.jpg);
	margin-top: 10px;
}

#left {
	font-family: Arial, Helvetica, sans-serif;
	float: left;
	height: 700px;
	width: 220px;
	margin-left : -40px;
	padding-left: 40px;
	font-size: 16px;
	white-space: nowrap;
}

	


#lable {
	text-decoration: none;
	line-height: 50px;
	font-size: 18px;
	color: #810A15;
	font-weight: bold;
	float: left;
	margin-top: 15px;
	padding-left: 5px;
}

#lable1 {
	text-decoration: none;
	margin-left: -110px;
	font-size: 14px;
	font-weight: bold;
	color: #810A15;
	padding-left: 5px;
}

#lable2 {
	font-size: 15px;
	color: #810A15;
	font-weight: bold;
	margin-left: -40px;
	font-variant: small-caps;
}

#hr {
	width: 180px;
	margin-left: 15px;
	line-height: 2px;
}

#lableB {
	color: #810A15;
	font-size: 15px;
	font-weight: lighter;
	text-decoration: none;
	float: left;
	margin-left: 5px;
}
#lableB:hover{
	font-weight: bold;
	

	}
	#lableB:action{
	 color: #333;
	}


#lableTiec {
	font-size: 15px;
	color: #810A15;
	font-weight: bold;
	margin-left: -15px;
	font-variant: small-caps;
}

#lableB1 {
	color: #810A15;
	font-size: 15px;
	font-weight: lighter;
	color: #810A15;
	text-decoration: none;
	float: left;
	margin-left: -15px;
}

#right {
	
	margin-left: -45px;
	padding-top: 10px;
	float: right;
	/* height: 1120px; */
	width: 750px;
	z-index: auto;

}

#pic {
	visibility: visible;
	border-radius: 3px;
	border: solid #CCC;
	height: 200px;
	width: 200px;
}

#price {
	font-size: 18px;
	color: #F00;
	float: left;
	margin-top: -10px;
	margin-left: 10px;
}

#dong {
	color: #666;
}

#buy {
	
	border-radius: 5px;
	background-color: #FBD;
	height: 30px;
	width: 80px;
	margin-left: 0px;
	padding-bottom: -10px;
	text-align: center;
	font-size: 14px;
	text-decoration: none;
	border-top-color: #F06;
	border-right-color: #F06;
	border-bottom-color: #F06;
	border-left-color: #F06;
	border-left-width: 1px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	
}
#order{
	color: #810A15;
	font-size: 13px;
	text-decoration: none;
}


#food {
	color: #810A15;
	font-size: 14px;
	margin-top: 10px;
	font-weight: bold;
	margin-left: 25px;
}

#icon {
	float: left;
	margin-left: 20px;
	height: 15px;
	width: 15px;
}

#d1 {
	padding-top: 10px;
	float: left;
	height: 275px;
	width: 200px;
	margin-left: 30px;
}
#nutBam{
	background-color: #39F;
	top: 800px;
	
}

#gia{
	
	
	margin-right: 15px;
}
