@charset "utf-8";
body {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	color: #000;
	width: 1350px;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-top-style: inset;
	border-top-color: #06F;
	border-right-color: #06F;
	border-bottom-color: #06F;
	border-left-color: #06F;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	padding-left: 50px;
}

/* ~~ Element/tag selectors ~~ */
ul, ol, dl { /* Due to variations between browsers, it's best practices to zero padding and margin on lists. For consistency, you can either specify the amounts you want here, or on the list items (LI, DT, DD) they contain. Remember that what you do here will cascade to the .nav list unless you write a more specific selector. */
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;	 /* removing the top margin gets around an issue where margins can escape from their containing div. The remaining bottom margin will hold it away from any elements that follow. */
	padding-right: 15px;
	padding-left: 15px; /* adding the padding to the sides of the elements within the divs, instead of the divs themselves, gets rid of any box model math. A nested div with side padding can also be used as an alternate method. */
	color: #06F;
	font-size: 100%;
}
a img { /* this selector removes the default blue border displayed in some browsers around an image when it is surrounded by a link */
	border: none;
}

/* ~~ Styling for your site's links must remain in this order - including the group of selectors that create the hover effect. ~~ */
a:link {
	color:#414958;
	text-decoration: underline; /* unless you style your links to look extremely unique, it's best to provide underlines for quick visual identification */
}
a:visited {
	color: #4E5869;
	text-decoration: underline;
}
a:hover, a:active, a:focus { /* this group of selectors will give a keyboard navigator the same hover experience as the person using a mouse. */
	text-decoration: none;
}

/* ~~ this container surrounds all other divs giving them their percentage-based width ~~ */
.container {
	width: 89%;
	max-width: 1260px;/* a max-width may be desirable to keep this layout from getting too wide on a large monitor. This keeps line length more readable. IE6 does not respect this declaration. */
	min-width: 780px; /* the auto value on the sides, coupled with the width, centers the layout. It is not needed if you set the .container's width to 100%. */
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	background-image: url(templatemo_wrapper_m.png);
}



.content {
	overflow: auto;
	background-position: center center;
	background-color: #FFF;
	margin-left: 75px;
	margin-right: auto;
}
.container .content .ctleft .hl .ctll div strong {
	height: 15%;
}

.content .ctleft{
	overflow: auto;
	color: #03C;
	clear: right;
	float: left;
	font-family: "Comic Sans MS", cursive;
}

.hl{
	overflow: auto;
	
}

.ctll{
	clear: right;
	float: left;
	width: 35%;
	font-weight: bold;
	
}
.ctlr{
	clear: none;
	float: right;
	width: 65%;
	
}

.content ul, .content ol { 
	padding: 0 15px 15px 40px; /* this padding mirrors the right padding in the headings and paragraph rule above. Padding was placed on the bottom for space between other elements on the lists and on the left to create the indention. These may be adjusted as you wish. */
}

/* ~~ The footer ~~ */
.footer {
	padding: 10px 0;
	background-color: #6F7D94;
}

/* ~~ miscellaneous float/clear classes ~~ */
.fltrt {  /* this class can be used to float an element right in your page. The floated element must precede the element it should be next to on the page. */
	float: right;
	margin-left: 8px;
}
.fltlft { /* this class can be used to float an element left in your page. The floated element must precede the element it should be next to on the page. */
	float: left;
	margin-right: 8px;
}
.clearfloat { /* this class can be placed on a <br /> or empty div as the final element following the last floated div (within the #container) if the #footer is removed or taken out of the #container */
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}
.container .content .ctleft .hl .ctlr {
	color: #03C;
}
.container .content .ctleft div p strong {
	color: #F00;
	margin: 15px;
}
.container .content .ctmid p {
	color: #03C;
}
.container .content .ctleft p strong {
	color: #F00;
}
.container .content .ctmid .ctll p {
	color: #F00;
}
.container .content .ctmid p strong {
	color: #F00;
}
.container .content .ctmid .hl p {
	color: #03F;
}
.container .content .ctright .hl p strong {
	color: #D6D6D6;
}
.container .content .ctright .hl p strong {
	color: #FF0000;
}
.container .content .ctleft .hl .ctlr p strong {
	background-color: #FFF;
}

.tt1{
	background-color: #FFF;
	color: #F00;
	
}
.container .content .ctmid .hl .ctll p {
	color: #F00;
}
.container .content .ctleft .hl .ctlr h2 strong {
	color: #F00;
}


.buttonxhs {
	-moz-box-shadow: inset 0px 1px 0px 0px #8a2a21;
	-webkit-box-shadow: inset 0px 1px 0px 0px #8a2a21;
	box-shadow: inset 0px 1px 0px 0px #8a2a21;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24437));
	background: -moz-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background: -webkit-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background: -o-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background: -ms-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background: linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);















	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24437',GradientType=0);
	background-color: #c62d1f;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #d02718;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial;
	font-size: 18px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #810e05;
	width: 1145px;
	font-weight: bold;
	padding-top: 6px;
	padding-right: 24px;
	padding-bottom: 6px;
	padding-left: 24px;
}
.ttll{
	height: 220px;
	
}
.label{
	height: 40px;
	padding-left: 150px;
	padding-top: 10px;
	color: #F00;
	
}
.label1{
	height: 80px;
	padding-left: 150px;
	padding-top: 10px;
	color: #F00;
	
}
.labelright{
	height: 40px;
	padding-top: 10px;
	
}
.labelright1{
	height: 80px;
	padding-top: 10px;
	
}
.thongtinbn{
	padding-left: 10px;
	font-weight: bold;
	
}
.menuphu{
	padding-left: 75px;	
}
#thongtin{
	font-size: 15px;
	font-weight: bold;
	font-family: cursive;
}
#labelMenu{
	height: 35px;
	width: 100px;
}
