
@CHARSET "ISO-8859-1";
.left {
	float:left;
	background-color: #FFF;
	height: 1024px;
	width: 100px;
	
}

.formsua{
	text-align: center;
	float: right;
	margin-right:200px;
}
.bang {
	padding-top: 20px;
	text-align: center;
	
}

.menu {
	position: relative;
	top: 1px;
	display: inline-block;
	font-family: "Glyphicons Halflings";
	font-style: normal;
	font-weight: 400;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	font-size:19px;
}
#li a{
	text-decoration:none;
	
}
.bangnhanvien{
	margin-left: -10px;
	float: right;
}
.form{
	margin-right:-100px;
	text-align:center;
	width: 1160px;
	float:right;
}

#li {
	
	text-indent:20px;
	margin-left:-40px;
	text-align:left;
	list-style:none;
	width: 150px;
	height: 40px;
}
.button1 {
	color:#FFF;
	margin-top: 5px;
	text-align:center;
	border-radius: 5px;
	background-color: #09F;
	height: 30px;
	width: 80px;
}

.header {
	margin-top:-10px;
	margin-left:-10px;
	background-color: #333;
	height: 50px;
	width: 1500px;
	text-align:left;
}
.bamien {
	color:#6CF;
	text-align:center;
	margin: 20px;
	padding-top: 10px;
}



#li:hover{
	
	font-weight:700px;
	background-color:#CCC;
	width: 150px;
	height: 40px;
	padding-top:12px;
	
	
}
#li :VISITED{
	color: #0080ff;
}
.right {
	margin-left: -50px;
	padding-top: 10px;
	float:right;
	height: 1000px;
	width: 1160px;
	
}
#themSP{
width: 150px;
	 height: 26px; 
	 color: #06C;
	 float: left;
	margin-bottom: 5px;
	 
}
#tieuDe{
	
	text-align: center;
	 font-weight: bold;
	  font-size: 27px;
	   margin-bottom:-10 px;
}
#themSP{

	width: 150px;
	 height: 26px; 
	 color: #06C;
	 float: left;
	margin-bottom: 5px;
	 
}
#tieuDe{
	
	text-align: center;
	 font-weight: bold;
	  font-size: 27px;
	   margin-bottom:-10 px;
}
#popup1{
	positon: fixed;
	right: 20px;
	top:10px;
	 border-radius: 5px;
	 z-index: 2;
}
.popup{
    position: fixed;
    background: white;
    border: 1px solid gray;
    z-index: 10000;
    box-shadow: 3px 3px gray;
  
}
#background{
    position: fixed;
    background: #999;
    left: 0px;
    top: 0px;
    z-index: 1;
   
}
a.close{
    text-decoration: none;
    float: right;
    
	 font-size: 28px;
	color: #C00;
	margin-right: -10px;
	margin-top: -5px;
}
#text2{
	font-size: 16px;
	width: 140px;
	height: 26px;
	color: #06F;

}
#textfeld2{
	width: 140px;
	height: 26px;
	margin-left: 5px;
}
#table2{
	margin-top: 30px;
	margin-left: 20px;
	text-align: center;
}
#button2 {
	margin-left: 20px;
	color:#FFF;
	margin-top: 15px;
	text-align:center;
	border-radius: 5px;
	background-color: #09F;
	height: 30px;
	width: 80px;
}
#edit{
	margin-left: -200px;
}
#form{
	text-align: center;
	}
	
#formName{
	font-size: 36px;
	color: #06F;
	}
	
#formTable{
	margin-left: 160px;
}
#buttonend{
	margin-top: 5px;
	
}
#close {
	 
}
#Image{
	width: 140px;
	height: 26px;
	margin-left: 5px;
}
#select2{
	width: 140px;
	height: 32px;
	margin-left: 5px;
	
}