@charset "utf-8";
.datlich{
	margin-top: 10px;
	margin-left: 75px;
	background-color:#c40202;
	color: #09f;
	height: 35px;
	width: 1200px;
	font-size: 25px;
	font-weight: bold;
}
.formtbn{
	margin-left: 450px;
}
#labeldatlich{
float: left;
}